{{ define "main" }}
<article id="article" class="article h-entry relative" itemprop="mainEntity" itemscope itemtype="http://schema.org/BlogPosting">
    <div id="article-start"></div>
    <div class="title-container">
        <h1 class="article-title p-name pb-5" itemprop="name">{{ .Title }}</h1>
        {{ if .Params.Headline }}
        <b><i itemprop="headline" class="article-headline text-lg p-summary">
            {{ .Params.Headline }}
        </i></b>
        {{ end }}
        <div class="flex justify-between items-center">
            {{ if not .Params.HideDate}}
            <span class="text-lg text-gray-600 dark:text-gray-400 border-none u-url">
                <time itemprop="datePublished" class="dt-published"
                    datetime="{{ .PublishDate.Format "2006-01-02T15:04:05Z0700" }}"
                    content="{{ .PublishDate.Format "2006-01-02T15:04:05Z0700" }}">
                    {{ .PublishDate.Format "02/01/2006" }}
                </time>
            </span>
            {{ end }}
            {{ if not .Params.HideAuthor }}
                {{ if .Params.Author }}
                <a class="text-gray-600 dark:text-gray-400 text-right border-none p-author h-card" rel="author" href="{{ .Site.BaseURL }}" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ .Params.Author }}</span></a>
                {{ else if .Site.Params.AuthorName }}
                <a class="text-gray-600 dark:text-gray-400 text-right border-none p-author h-card" rel="author" href="{{ .Site.BaseURL }}" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ .Site.Params.AuthorName }}</span></a>
                {{ end }}
            {{ end }}
        </div>
        {{ if .Params.Readingtime }}
        <div>
            Reading time: {{ math.Round (div (countwords .Content) 220.0) }} minutes.
        </div>
        {{ end }}
    </div>

    {{ if ne .Params.toc false -}}
    <div class="hidden xl:block sticky top-10">
        <nav class="absolute left-[100%] pl-16 min-w-max" aria-label="Secondary navigation">
            <h3>{{ i18n "toc" }}</h3>
            {{ partial "sidebar/toc.html" . }}
        </nav>
    </div>
    <div class="block xl:hidden">
        <nav class="flex flex-col" aria-label="Secondary navigation">
            <input id="toc-toggle" class="ml-[-99999999px] h-0 my-0 py-0" type="checkbox" >
            <label for="toc-toggle" class="tocclicker block cursor-pointer" tabindex="1"><h4 class="text-gray-600 dark:text-gray-400 hover:text-black dark:hover:text-white text-right">{{ i18n "reveal-toc" }}</h4></label>
    
            <div class="hiddentoc">
                {{ partial "sidebar/toc.html" . }}
            </div>
        </nav>
    </div>
    {{ end -}}

    <div class="article-content e-content" itemprop="articleBody">
        {{ .Content | replaceRE "((<h[2-5] id=\"(.+)\".*?>)(.*)(</h[2-5]>))" "<div class=\"group\">${2} ${4} <a href=\"#${3}\" title=\"Permalink to this heading\" class=\"absolute px-2 border-none text-zinc-500 dark:text-zinc-500 hidden group-hover:inline-block\">¶</a> ${5} </div>" | safeHTML }}
    </div>

    {{ partial "taxonomy.html" . }}
    {{ partial "references.html" . }}
    {{ if .Params.Lastmod }}
    <div class="text-neutral-500 mb-4">
        Last modified <span itemprop="dateModified"
                            datetime="{{ .Lastmod.Format  "2006-01-02T15:04:05Z0700" }}"
                            content="{{ .Lastmod.Format  "2006-01-02T15:04:05Z0700" }}">
        {{ .Lastmod.Format "02/01/2006" }}
        </span>
    </div>
    <div id="article-end"></div>

    {{ if.Params.comments }}
    <div class="comments">
        <script>
            theme = isDark() ? 'github-dark' : 'github-light';
            
            let s = document.createElement('script');
            s.src = 'https://utteranc.es/client.js';
            s.setAttribute('repo', 'patricklbell/blog');
            s.setAttribute('issue-term', 'pathname');
            s.setAttribute('theme', theme);
            s.setAttribute('crossorigin', 'anonymous');
            s.setAttribute('async', '');
            document.querySelector('div.comments').innerHTML = '';
            document.querySelector('div.comments').appendChild(s);
        </script>
    </div>
    {{ end }}
    {{ end }}
</article>
{{ end }}
