<figure {{ with .Get "class" }} class="{{ . }}"{{ end }}>
  {{- $random := delimit (shuffle (seq 1 9)) "" -}}

  <img class="w-fit h-fit z-10 rounded-md"
    id="img-{{$random}}"
    src="{{ .Get "imgsrc" }}"
    alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"
  />
  <div class="flex flex-col xl:flex-row">
    <div id="canvas-{{$random}}" class="hidden mx-auto w-full" 
      style="height: 400px;"
      {{- with .Get "height" }} style="height: {{ . }};" {{ end -}}
    >
      {{/*  src defines init which returns a THREE scene */}}
      <script src="{{ .Get "src" }}"></script>
      <script>
        if (typeof init === "function") {
          INTERACTIVES.push({init: init, id: "{{$random}}"}); 
        }
        init=undefined;
      </script>
    </div>
    {{- if (.Get "controls") -}}
    <div class="flex flex-col xl:flex-row items-center hidden" id="controls-{{$random}}">
  
    </div>
    {{- end }}
  </div>

  
  {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
  <figcaption>
      {{ with (.Get "title") -}}
          <h4>{{ . }}</h4>
      {{- end -}}
      {{- if or (.Get "caption") (.Get "attr") -}}<p>
          {{- .Get "caption" | markdownify -}}
          {{- with .Get "attrlink" }}
              <a href="{{ . }}">
          {{- end -}}
          {{- .Get "attr" | markdownify -}}
          {{- if .Get "attrlink" }}</a>{{ end }}</p>
      {{- end }}
  </figcaption>
  {{- end }}
</figure>