<div>
  <div class="mb-10 relative group">
    <a
      href="{{ .Permalink }}"
      class="inline-block absolute border-none w-full h-full text-black dark:text-white hover:text-black hover:dark:text-white"
    ></a>
    <div
      class="grid grid-cols-2 gap-0 rounded-md py-2 text-zinc-700 dark:text-zinc-300 group-hover:bg-zinc-50 dark:group-hover:bg-zinc-600 transition-all ease-in-out"
    >
      {{ if .Params.Img }}
      <img
        itemprop="image"
        alt="{{ .Params.Img.Alt }}"
        src="{{ .Params.Img.Name }}"
        class="px-5 py-4 rounded-3xl pointer-events-none"
      />
      {{end}}

      <div class="border-none pb-0 mx-5 my-0">
        <h3
          itemprop="name"
          class="group-hover:text-blue-800 dark:group-hover:text-blue-300"
        >
          {{ .Title }}
        </h3>
        {{ if .Params.Caption }}
        <i
          itemprop="caption"
          class="text-md border-none text-zinc-600 dark:text-zinc-300 pb-0 my-2"
          >{{ .Params.Caption }}</i
        >
        {{ end }} <div class="list-item-date col-start-4 text-neutral-600
        dark:text-neutral-400" itemprop="datePublished" content="{{
        .PublishDate.Format "2006-01-02T15:04:05Z0700" }}"> {{
        .PublishDate.Format "2006/01/02" }}
      </div>
      <div class="relative z-10">
        <div class="absolute inline-block">{{ partial "taxonomy.html" . }}</div>
      </div>
      <div class="inline-block invisible">{{ partial "taxonomy.html" . }}</div>

      {{ if .Params.Headline }}
      <div class="mt-1">
        <i itemprop="headline" class="article-headline p-summary text-base">
          {{ .Params.Headline }}
        </i>
      </div>
      {{ end }}
    </div>
  </div>

  <meta itemprop="author" content="{{ .Site.Params.authorName }}" />
</div>
